Repository gemini-hlsw/clue, pull requests merged in 2023-04, with the labels that each got.

#492 Register clue clean task with workaround
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/test
Labels: sbt-plugin

#493 When generating sources, copy over annotated standalone objects
  gen/input/src/main/scala/test/StarWarsSubquery2.scala
  gen/output/src/main/scala/test/StarWarsSubquery2.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
Labels: rules, input, output

#494 Friendlier type params
  build.sbt
  core/src/main/scala/clue/ClientAppliedF.scala
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/GraphQLOperation.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/package.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  http4s/src/main/scala/clue/http4s/Http4sHttpClient.scala
  http4s/src/main/scala/clue/http4s/package.scala
  scalajs/src/main/scala/clue/js/package.scala
Labels: rules, scalajs, core, output, http4s-jdk-demo, http4s

#499 Include data (if present) in response exceptions
  build.sbt
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/GraphQLException.scala
  model/src/main/scala/clue/model/json/package.scala
Labels: model, core
