Repository gemini-hlsw/clue, pull requests merged in 2023-02, with the labels that each got.

#449 Support subquery interpolation
  build.sbt
  core/src/main/scala/clue/GraphQLSubquery.scala
  core/src/main/scala/clue/annotation/GraphQLStub.scala
  gen/input/src/main/scala/test/StarWarsQuery3.scala
  gen/input/src/main/scala/test/StarWarsSubquery.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsSubquery.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/annotations.scala
Labels: rules, core, input, output

#468 GraphQLSubquery.Typed
  core/src/main/scala/clue/GraphQLSubquery.scala
Labels: core

#473 Support nested subqueries
  build.sbt
  gen/input/src/main/scala/test/StarWarsNestedSubquery.scala
  gen/input/src/main/scala/test/StarWarsQuery4.scala
  gen/output/src/main/scala/test/StarWarsNestedSubquery.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Labels: rules, input, output
