Repository gemini-hlsw/clue, pull requests merged in 2023-03, with the labels that each got.

#480 Error policies, huge refactors, and a lot of other breaking changes
  MACROS.md
  README.md
  build.sbt
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/GraphQLException.scala
  core/src/main/scala/clue/GraphQLOperation.scala
  core/src/main/scala/clue/TransactionalClientImpl.scala
  core/src/main/scala/clue/backends.scala
  core/src/main/scala/clue/clients.scala
  gen/output/src/main/scala/test/LucumaODBSchema.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  http4s/src/main/scala/clue/http4s/Http4sBackend.scala
  http4s/src/main/scala/clue/http4s/Http4sWSBackend.scala
  model/src/main/scala/clue/data/Input.scala
  model/src/main/scala/clue/data/package.scala
  model/src/main/scala/clue/data/syntax/package.scala
  model/src/main/scala/clue/model/GraphQLDataResponse.scala
  model/src/main/scala/clue/model/GraphQLError.scala
  model/src/main/scala/clue/model/GraphQLRequest.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/main/scala/clue/model/package.scala
  model/src/test/scala/clue/data/InputSpec.scala
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLDataResponse.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLError.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLRequest.scala
  model/src/test/scala/clue/model/json/GraphQLDataResponseJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLErrorJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLRequestJsonSpec.scala
  model/src/test/scala/clue/model/json/ListLimitingDisciplineSuite.scala
  model/src/test/scala/clue/model/json/StreamingMessageJsonSpec.scala
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
Labels: rules, model, scalajs, core, output, http4s-jdk-demo, http4s

#482 Decoupling of GraphQL protocol and transport layer
  build.sbt
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ClientAppliedF.scala
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/backends.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/package.scala
  core/src/main/scala/clue/websocket/ApolloWebSocketClient.scala
  core/src/main/scala/clue/websocket/WebSocketCloseParams.scala
  core/src/main/scala/clue/websocket/package.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  http4s/src/main/scala/clue/http4s/Http4sBackend.scala
  http4s/src/main/scala/clue/http4s/Http4sHttpBackend.scala
  http4s/src/main/scala/clue/http4s/Http4sHttpClient.scala
  http4s/src/main/scala/clue/http4s/Http4sWebSocketBackend.scala
  http4s/src/main/scala/clue/http4s/Http4sWebSocketClient.scala
  http4s/src/main/scala/clue/http4s/package.scala
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
  scalajs/src/main/scala/clue/js/FetchJSClient.scala
  scalajs/src/main/scala/clue/js/FetchJSRequest.scala
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
  scalajs/src/main/scala/clue/js/WebSocketJSClient.scala
  scalajs/src/main/scala/clue/js/package.scala
Labels: rules, scalajs, core, output, http4s-jdk-demo, http4s

#485 Clean generator project when cleaning clue project
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/test
Labels: sbt-plugin

#486 Simplify Apollo client by making it web socket-only
  build.sbt
  core/src/main/scala/clue/backends.scala
  core/src/main/scala/clue/package.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/main/scala/clue/websocket/ApolloWebSocketClient.scala
  core/src/main/scala/clue/websocket/CloseParams.scala
  core/src/main/scala/clue/websocket/WebSocketCloseParams.scala
  core/src/main/scala/clue/websocket/package.scala
  http4s/src/main/scala/clue/http4s/Http4sWebSocketBackend.scala
  http4s/src/main/scala/clue/http4s/Http4sWebSocketClient.scala
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
  scalajs/src/main/scala/clue/js/WebSocketJSClient.scala
  scalajs/src/main/scala/clue/js/package.scala
Labels: scalajs, core, http4s

#490 Try to workaround sbt/sbt#7173
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
Labels: sbt-plugin
